<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block content %}
<div id="wrapper">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                {% for msg in get_flashed_messages() %}
            <div class="alert alert-dismissable alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Well done!</strong> {{msg}} .
          </div>
                {% endfor %}
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <h1>Curl</h1>
                <form method="POST" >
              <div class="form-group">
                  <label class="control-label" >ipversion</label>
               {{form.args_ipversion(value=result.args_ipversion)}}
              </div>
              <div class="form-group ">
                  <label class="control-label" >url</label>
                  <label class="control-label" >url</label>
                  {{form.args_url(value=result.args_url)}}
                  {% for err in form.args_url.errors %}
                  <span style="color: red">{{ err }}</span>
                    {% endfor %}
              </div>
              <div class="form-group ">
                  <label class="control-label" >timeout</label>
                 {{form.args_timeout(value=result.args_timeout)}}
              </div>
                    <div class="form-group ">
                 {{form.submit_curl}}
                        {{form.csrf_token}}
              </div>

            </form>

            </div>
            <div class="col-lg-4">
            </div>
        </div><!-- /.row -->

    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->
{% endblock %}

</html>
