<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static',filename='font-awesome/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">

</head>
   	<div  class="demo form-bg" style="padding:10%;height:100%">
		        <div class="container" >
		            <div class="row" >
		                <div class="col-md-offset-3 col-md-6" >
		                    <form class="form-horizontal" method="POST">
		                        <span class="heading">用户登录</span>
		                        <div class="form-group">
		                            {{ form.username }}
		                            <i class="fa fa-user"></i>
                                    {% for msg in get_flashed_messages() %}
                                   <p style="color:red">{{msg}}</p>
                                  {% endfor %}
		                        </div>
		                        <div class="form-group help">
		                            {{ form.password }}
		                            <i class="fa fa-lock"></i>
		                        </div>
		                        <div class="form-group">
                                        {{form.remember_me}}
		                            <span class="text">Remember me</span>
		                            {{form.submit}}
                                    {{form.csrf_token}}
		                        </div>
		                    </form>
		                </div>
		            </div>
		        </div>
    </div>

