{% extends "base.html" %}
{% block content %}
<div id="wrapper">
    <iframe width=1080 height=1530 frameborder=0 scrolling=auto src="http://202.120.83.82:8081/" setAttribute="maplist"
            onload="myfunction()"></iframe>
</div>
<script>
    function myfunction() {
        document.getElementById("name").value = "root";
        var a = document.getElementById("name").getAttribute('placeholder');
        console.log(a);
        document.getElementById("password").value = "root";
        var btn = document.getElementById("sign");
        btn.click();
        alert("ok")
    }
</script>
{% endblock %}